@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
  align-items: center;
}

.cards {
  background-color: white;
  border-radius: 15px;
  width: 300px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

#left-icon {
  top: 20px;
  font-size: 4pc;
  margin-left: 15px;
  left: 30px;
}

#number {
  margin-left: 30%;
  width: 60px;
  height: 60px;
  font-size: 10pc;
}

#right-icon {
  margin-top: 85%;
  margin-right: 15px;
  font-size: 4pc;
  height: 40px;
}
